.product{    
    background-color: lightgrey;
    border-width: 1px;
    max-width: 250px;
    min-width: 100px;
    /* height: 100px; */
    text-align: right;
    margin: 2px;
    display: inline-block;
}

.selected{
    border-color: red;
    border-style: solid;
}

.product p{
    margin: 0;
}

.product ul{
    text-align: left;
}

.product .description{
    /* max-height: 100px; */
    width: 70%;
    float: left;
}

.product .imageContainer{
    height:100%;
    width: 30%;
    float: right;
}
.product img{
    width: 95%;
    margin: 2px;
    max-height: 96px;
    max-width: 96px;
}